{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>


    <div class="nav_bar">
        <h1>Продукты</h1>
    </div>


    <div class="product_container">
        {% for values in product_list %}
            <div class="product-card">
                    <div>
                        <div class='field'>
                        <h2 class='field_name'> Название: </h2>
                        <h2>{{ values.name }}</h2>
                        </div>

                        <div class='field'>
                        <h2 class='field_name'> Начало продукта: </h2>
                        <h2>{{ values.start_date }}</h2>
                        </div>
                        
                        <div class='field'>
                        <h2 class='field_name'> Цена: </h2>
                        <h2>{{ values.price }}</h2>
                        </div>

                        <div class='field'>
                        <h2 class='field_name'> Автор: </h2>
                        <h2>{{ values.author }}</h2>
                        </div>

                        <div class='field'>
                        <h2 class='field_name'> Процент покупок: </h2>
                        <h2>{{ values.purchases }} %</h2>
                        </div>

                        <div class='field'>
                        <h2 class='field_name'> Процент заполненности в группах: </h2>
                        {% for group in values.groups %}
                            <h2 class='field_group'>{{ group.name }}:</h2>
                            <h2>{{ group.total|mul:100|div:values.max_students }} %</h2>
                        {% endfor %}
                        </div>
                    </div>
            </div>
        {% endfor %}
   
    </div>
    


</body>
</html>